src/testFixtures/resources/wiremock/mappings/event/response/eventList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventList" type="eventListType"/>
  <xs:complexType name="zoneType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="zone_id" use="optional"/>
        <xs:attribute type="xs:string" name="capacity" use="optional"/>
        <xs:attribute type="xs:string" name="price" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="numbered" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="eventType">
    <xs:sequence>
      <xs:element type="zoneType" name="zone" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="event_start_date" use="optional"/>
    <xs:attribute type="xs:string" name="event_end_date" use="optional"/>
    <xs:attribute type="xs:string" name="event_id" use="optional"/>
    <xs:attribute type="xs:string" name="sell_from" use="optional"/>
    <xs:attribute type="xs:string" name="sell_to" use="optional"/>
    <xs:attribute type="xs:string" name="sold_out" use="optional"/>
  </xs:complexType>
  <xs:complexType name="base_eventType">
    <xs:sequence>
      <xs:element type="eventType" name="event"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="base_event_id" use="optional"/>
    <xs:attribute type="xs:string" name="sell_mode" use="optional"/>
    <xs:attribute type="xs:string" name="title" use="optional"/>
    <xs:attribute type="xs:string" name="organizer_company_id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="outputType">
    <xs:sequence>
      <xs:element type="base_eventType" name="base_event" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eventListType">
    <xs:sequence>
      <xs:element type="outputType" name="output"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
</xs:schema>